clarifai==2.0.17
click==6.7
configparser==3.5.0
decorator==4.0.11
Flask==0.12
future==0.15.2
imageio==2.1.1
itsdangerous==0.24
Jinja2==2.9.4
jsonschema==2.5.1
MarkupSafe==0.23
moviepy==0.2.2.11
numpy==1.12.0
olefile==0.44
pafy==0.5.3.1
Pillow==4.0.0
pysolr==3.6.0
requests==2.12.5
tqdm==4.11.1
watson-developer-cloud==0.23.0
Werkzeug==0.11.15
youtube-dl==2017.1.18
